@import './styleguide.css';

.header {
margin-bottom: 26px; 
 box-shadow: 0 1px 10px 0 rgba(246, 80, 80, 0.15);
}

.header-container {
    display: grid;
    column-gap: 260px;
        grid-template-columns: 1fr 1fr;
     
}

.header-text-container {
    display: grid;
    grid-template-columns: 98px 181px 461px ;
    gap: 16px;
    align-items: center;
}

.sun-container {
    display: flex;
gap: 7px;
}

.c-container {
    display: flex
}

.clock-container {
    display: grid;
    grid-template-columns: 16px 1fr;
    gap: 12px;
}

.header-svg {
    width: 16px;
    height: 16px;
}

.c {
width: 7px;
height: 6px;
}

.svg-list {
    width: 26px;
height: 26px;
 border-radius: 50%; /* Робить елемент круглим */
    display: flex; /* Використовується для центрування */
    align-items: center; /* Вирівнювання по вертикалі */
    justify-content: center; /* Вирівнювання по горизонталі */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.facebook {

background-color: #1b7bfd;

}

.twitter {
background-color:  #42c0f5;
}

.instagram {
background-color:  #c23785;
}

.youtube {
    background-color: #ef5043;
}

.header-text {
 font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: #393939;
}

.header-button {
    width: 96px;
height: 42px;
background: #f65050;
color: #fff;
font-weight: 400;
font-size: 12px;

}

.news-container {
    display: grid;
    grid-template-columns: 96px 1fr;
    align-items: center;
    gap: 17px;
}

.social-list {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;
}

.main-img-container {
    display: grid;
    grid-auto-flow: column;
    gap: 153px;
    align-items: center;
    position: relative;
}


    .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-23%, -50%);
  text-align: center;
  color: white;
text-align: left;
    display: flex;
    align-content: center;
    width: 771px;
    padding: 16px 28px 16px 26px;
    justify-content: space-between;
    align-items: center;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
    padding-bottom: 25px;
}

.main-header {
    
font-weight: 400;
font-size: 14px;
line-height: 151%;
color: #fff;
}

.main-text {
    
font-weight: 400;
font-size: 14px;
line-height: 151%;
color: #f65050;
}

.main-button {
    width: 180px;
height: 44px;
background-color: #f65050;

font-weight: 700;
font-size: 18px;
color: #fff;

}

.options {
    padding-bottom: 25px;
}

.options-container {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
background: #393939;
}

.home {
    
font-weight: 400;
font-size: 20px;
color: #fff;
width: 75px;
height: 60px;
background: #f65050;

}


.home::after {
  content: "";
  display: block;
  width: 25px; /* Лінія спочатку невидима */
  height: 2px;
  background-color: white;
  margin: 5px auto 0; /* Відступи для лінії */
  transition: width 0.3s ease; /* Анімація появи лінії */
}




.options-button {
    width: auto;
background: #393939;
font-weight: 400;
font-size: 20px;
color: #fff;

}

.options-list {
    display: flex;
    gap: 26px;
    align-items: center;
}

.arrow-down {
    width: 10px;
    height: 6px;
}

.pages {
    display: grid;
    grid-template-columns: 1fr 6px;
        align-items: center;
    gap: 8px;
}

.options-container {
    display: flex;
    gap: 80px;
}

.search-svg {
    width: 12px;
    height: 12px;
}

.search-text {

font-weight: 300;
font-size: 10px;
color: rgba(255, 255, 255, 0.3);
}

.search {
    display: grid;
    gap: 77px;
    grid-template-columns: 47px 1fr;
    padding: 25px 32px 25px 16px;
  border-left: 0.50px solid rgba(255, 255, 255, 0.3);
}

.news-section {
    padding-bottom: 50px;
}

.news-section-container {
   gap: 15px;
       display: grid;
       grid-template-columns: 670px 1fr;
}

.friends-content {
    position: absolute;
    top: 50%;
    left: 50%;
        transform: translate(-65%, -49%);
    text-align: center;
    color: white;
    text-align: left;
    display: grid;
    grid-template-rows: 22px 1fr;
    gap: 374px;
    width: 478px;
}

.friends-container {
      position: relative;
}

.business {
 
font-weight: 400;
font-size: 10px;
color: #fff;
width: 54px;
height: 22px;
}

.friends-btn {
    background: #08f;
}

.friends-text {
   
font-weight: 400;
font-size: 12px;
line-height: 101%;
color: #fff;
}

.friends-header {
    font-family: var(--second-family);
font-weight: 500;
font-size: 36px;
text-transform: capitalize;
color: #fff;
}

.friends-txt {
    display: grid;
    gap: 6px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 235px);
    grid-template-rows: repeat(2, 278px);
    gap: 14px;
    box-sizing: content-box;
  
}

.img-content {
      position: absolute;
    top: 50%;
    left: 50%;
        transform: translate(-60%, -50%);
    text-align: center;
    color: white;
    text-align: left;
    display: grid
;
    grid-template-rows: 22px 1fr;
     gap: 148px;
   
    width: 164px; 
}

.option-img-container {
      position: relative;
}

.desctop-btn {
    background-color: #997c00;
}

.img-author {

font-weight: 400;
font-size: 10px;
line-height: 101%;
color: #fff;
}

.img-header {
  font-family: var(--second-family);
font-weight: 500;
font-size: 14px;
text-transform: capitalize;
color: #fff;
}

.img-text-container {
    display: grid;
    gap: 6px;
}

.window-btn {
    background-color: #08f;
}

.bulb-container {
    position: relative;
}

.bulb-content {
      position: absolute;
    top: 50%;
    left: 50%;
        transform: translate(-30%, -50%);
    text-align: center;
    color: white;
    text-align: left;
    display: grid
;
    grid-template-rows: 22px 1fr;
     gap: 116px;
   
    width: 293px; 
}

.bulb-text {

font-weight: 400;
font-size: 12px;
line-height: 101%;
color: #fff;
}

.bulb-header {
    font-family: var(--second-family);
font-weight: 500;
font-size: 24px;
text-transform: capitalize;
color: #fff;
}

.bulb-btn {
   background-color:  #49cfe8;
}

.dont-miss-text {
    font-family: var(--second-family);
font-weight: 500;
font-size: 24px;
color: #f65050;
border-bottom: 1px solid #f65050;
padding-bottom: 7px;
}


.dont-miss-header {
    display: grid;
    grid-template-columns: 870px 1fr;
    gap: 30px;
        align-items: center;
          padding-bottom: 24px;
}

.dont-miss-header-content {
    display: grid;
    grid-template-columns: 97px 1fr;
    gap: 201px;
    height: 43px;
      border-bottom: 1px solid #393939;
          align-items: center;
        
}

.more-svg {
    width: 5px;
    height: 4px;
    
}

.dont-miss-list {
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
    padding-bottom: 14px;
}

.dont-miss-button {
    width: auto;
    height: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #fff;
    font-family: var(--second-family);
font-weight: 400;
font-size: 12px;

}

.all {
   background: #fe4a51;
   padding-left: 8px;
   padding-right: 8px;
}

.lifestyle {
  background: #a56cbd;
  padding-left: 16px;
   padding-right: 16px;
}

.vogue {
    background: #2ecc71;
    padding-left: 12px;
   padding-right: 12px;
}

.health {
    background: #08f;
    padding-left: 20px;
   padding-right: 20px;
}

.travel {
    background: #997c00;
    padding-left: 16px;
   padding-right: 16px;
}

.gadgets {
   background: #49cfe8;
   padding-left: 14px;
   padding-right: 14px;
}

.world {
     background: #08f;
   padding-left: 15px;
   padding-right: 15px;
} 

.more {
    background: #4c60f5;
    padding-left: 14px;
    padding-right: 5px;
      display: flex
;
    align-items: center;
    gap: 5px;
}

.list-text {
    font-family: var(--second-family);
font-weight: 500;

color: #393939;
}

.recent {
    color: #f65050;
  
}

.dont-miss-list-item {
    display: grid;
    grid-auto-flow: column;
        justify-content: space-between;
        border-bottom:  1px solid #393939;;
}

.list-dont-miss:first-child {
    border-bottom: 1px solid #f65050;
      padding-bottom: 14px;
}

.conferense-text {

font-weight: 400;
font-size: 10px;
line-height: 101%;
color: #393939;
}

.conferense-date {
    color: rgba(57, 57, 57, 0.6);
}

.conferense-header {
    font-family: var(--second-family);
font-weight: 500;
font-size: 18px;
color: #393939;
}

.conferense-txt {
font-weight: 250;
font-size: 14px;
line-height: 111%;
color: rgba(57, 57, 57, 0.6);
}

.conferense-img-container {
    position: relative;
}

.conferense-img {
    margin-bottom: 25px;
}

    .conferense-btn {
           position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 68px;
height: 21px;
font-weight: 400;
font-size: 12px;
color: #fff;
background: #a56cbd;
    }

    .craig-bator {
        display: flex;
        gap: 2px;
    }

    .dont-miss-content {
        display: grid;
        grid-template-columns: 394px 1fr 271px;
        gap: 30px;
    }

    .conferense-text-container {
        display: grid;
        gap: 6px;
    }

    .mill-container {
        display: grid;
        grid-template-columns: 90px 1fr;
        gap: 19px;
    }

    .mill-list {
       display: flex;
        row-gap: 16px;
        flex-direction: column;
      
    }

    .conferense-header-text {
        font-family: var(--second-family);
text-transform: capitalize;
color: #393939;
    }

    .dont-miss-text-container {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .dishes-list {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .dishes-list-item {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 12px;
    }